{% extends "VTWABundle::layout.html.twig" %}

{% block title %}
    Homepage
{% endblock %}

{% block nav %}
    <ul class="nav navbar-nav">
        <li class="active"><a href="{{ path('vtwa_homepage') }}"><span class="glyphicon glyphicon-home"></a></li>
        <li><a href="{{ path('vtwa_interactions') }}">Interactions between pages</a></li>
        <li><a href="#">Visitors Flow</a></li>
    </ul>
{% endblock %}

{% block body %}
{% endblock %}