{% extends "VTWABundle::layout.html.twig" %}

{% block title %}
    Interactions between pages
{% endblock %}

{% block nav %}
    <li><a href="{{ path('vtwa_homepage') }}"><span class="glyphicon glyphicon-home"></span></a></li>
    <li class="active"><a href="{{ path('vtwa_interactions') }}">Interactions between pages</a></li>
    <li><a href="{{ path('vtwa_visits') }}">Visits typology</a></li>
    <li><a href="http://www.google.com/analytics">Access Google Analytics</a></li>
{% endblock %}

{% block secNav %}
    <form method="get" action="#">

        <div class="row panel panel-default">
            <div class="col-xs-2">
                <select name="segment" class="form-control">
                    {% for segment in segments %}
                        <option value="{{ segment.id }}" {% if segment.id == currentSegment %} selected="selected" {% endif %}>{{ segment.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-xs-2">
                <select name="metric" class="form-control">
                    <option value="pageviews" {% if currentMetric == 'pageviews' %} selected="selected" {% endif %}>Page
                        views
                    </option>
                    <option value="avgTimeOnPage" {% if currentMetric == 'avgTimeOnPage' %} selected="selected" {% endif %}>
                        Time spent on page
                    </option>
                </select>
            </div>
            <div class="input-group col-xs-5">
                <span class="input-group-addon">From</span><input id="datepicker" class="form-control datepicker"
                                                                  name="start" type="date"
                                                                  placeholder="Start : 2014-01-01"
                                                                  value="{{ currentStart }}"/>
                <span class="input-group-addon">To</span><input class="form-control datepicker" name="end" type="date"
                                                                placeholder="End : 2014-01-22"
                                                                value="{{ currentEnd }}"/>
                <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
            </div>
            <div class="col-xs-3" style="text-align:right">
                <a href="#" data-toggle="collapse" data-target="#advancedOptions">Advanced options</a>
                <button class="btn btn-primary" type="submit">Analyze</button>
            </div>
        </div>
        <div id="advancedOptions" class="panel panel-default collapse">
            <div class="input-group">
                <span class="input-group-addon">Maximum of Pages</span><input id="maxPages" class="form-control"
                                                                              name="maxPages"
                                                                              value="{{ currentMaxPages }}"/>
            </div>
            <div class="input-group">
                <span class="input-group-addon">Maximum of Interactions</span><input id="maxInteractions"
                                                                                     class="form-control"
                                                                                     name="maxInteractions"
                                                                                     value="{{ currentMaxInteractions }}"/>
            </div>
        </div>
    </form>
{% endblock %}

{% block body %}
    <div id="alert-info" class="alert alert-info collapse"><span></span> <a class="close" data-toggle="collapse"
                                                                            data-target="#alert-info" href="#"
                                                                            aria-hidden="true">&times;</a></div>
    <div class="row">
        <div class="col-md-9" style="height:800px;" id="chartForceDirectedDiagram">
            <div class="row">
                <div class="col-md-12" id="chartForceDirectedDiagram1" style="height:800px"></div>
                <div class="col-md-6" id="chartForceDirectedDiagram2" style="height:400px"></div>
                <div class="col-md-6" id="chartForceDirectedDiagram3" style="height:400px"></div>
                <div class="col-md-6" id="chartForceDirectedDiagram4" style="height:400px"></div>
            </div>
        </div>
        <div class="panel panel-primary col-md-3">
            <div class="panel-heading">Toolbox</div>
            <div class="panel-body">
                <div id="loadingGraph" class="progress progress-striped active">
                    <div class="progress-bar progress-success" role="progressbar" aria-valuenow="45" aria-valuemin="0"
                         aria-valuemax="100" style="width:0">
                        <span class="sr-only">8% Complete</span>
                    </div>
                </div>
                <div class="input-group">
                    <input id="search" type="text" class="form-control" placeholder="Search for pages">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                </div>
                <div class="btn-group" data-toggle="buttons">
                    <label id="fisheyeCheckbox" class="btn btn-default">Zoom<input type="checkbox"/></label>
                    <label class="btn btn-default" id="pathCheckbox">Path<input type="checkbox"/></label>
                    <label class="btn btn-default active" id="highlightCheckbox">Highlight<input type="checkbox"
                                                                                                 checked/></label>
                    <label class="btn btn-default" id="closerCheckbox">Closer<input type="checkbox"/></label>
                </div>
                <br/>
                Minimal Weight :
                <div id="weightSlider"></div>
                <div id="weightInfo">0</div>
                Zoom :
                <div id="zoomSlider"></div>
                <div id="zoomInfo">0</div>
                <button id="redraw" class="btn btn-warning">Redraw</button>
                <div id="toolboxInfo"></div>
            </div>
        </div>
        <div class="panel panel-primary col-md-3">
            <div class="panel-heading">General Informations</div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item">Total Pages<span class="badge" id="totalPages"></span></li>
                    <li class="list-group-item">Total {{ currentMetric }}<span class="badge" id="totalVisits"></span>
                    </li>
                    <li class="list-group-item">Total Connections<span class="badge" id="totalConnections"></span></li>
                </ul>
            </div>
        </div>
        <div class="panel panel-primary col-md-3">
            <div class="panel-heading">Current page</div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item"><span style="font-weight:bold" id="pageTitle">--</span></li>
                    <li class="list-group-item">{{ currentMetric }} <span class="badge" id="pageViews">--</span></li>
                    <li class="list-group-item"><a data-toggle="collapse" data-target="#pageURLSList">Page URLs</a>
                        <span class="badge" id="pageURLS">--</span>
                        <ul id="pageURLSList" class="collapse nodo">
                            <li>--</li>
                        </ul>
                    </li>
                    <li class="list-group-item"><a data-toggle="collapse" data-target="#pageConnectionsList">Page
                            connections</a> <span class="badge" id="pageConnections">--</span>
                        <ul id="pageConnectionsList" class="collapse nodo">
                            <li>--</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Commenter -->

    <div class="row">
        <div class="panel panel-default col-md-4">
            <div class="panel-heading">Selection</div>
            <div class="panel-default">
                <ul class="list-group" id="selectedPages">
                    <li class="list-group-item">--</li>
                </ul>
                <button class="btn btn-default" id="selectedPagesButton" disabled>Get Demographic Data</button>
            </div>
        </div>
        <div class="panel panel-default col-md-4">
            <div class="panel-heading">Timespan</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <select id="timespanSelector" class="form-control">
                            <option value="1">1 day</option>
                            <option value="7">7 days</option>
                            <option value="30">30 days</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <button class="btn btn-warning" id="timespanButton">Get the data</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default col-md-4">
            <div class="panel-heading">Pathfinder</div>
            <div class="panel-body">
                Origin : Destination :
                <ul class="list-group" id="pathInfo">
                    <li class="list-group-item">--</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" id="filter">
            <div id="barGraph" style="width:100%;height:270px"></div>
            <div id="filterInfo"></div>
            <button class="btn btn-warning" id="filterButton">Filter the results</button>
        </div>
    </div>
    <script>

    var
            data = {{ json|raw }},
            highlightActive = true,
            fisheyeActive = false,
            pathActive = false,
            pathed = false,
            closerRelatedNodes = false,
            node = d3.selectAll("svg").selectAll(".node"),
            link = d3.selectAll("svg").selectAll(".link"),
            pathArray = [];
    pathArray['start'] = '';
    pathArray['end'] = '';
    pathArray['intermediate'] = [];


    $("#weightSlider").slider({
        value: 0,
        min: 0,
        range: "min"
    });

    $("#zoomSlider").slider({
        min: 1,
        max: 100,
        range: "min",
        step: 1,
        slide: function (event, ui) {
            $("#zoomInfo").html(ui.value);
        }
    })

    $("#fisheyeCheckbox").click(function () {
        if (fisheyeActive) {
            fisheyeActive = false;
        }
        else {
            fisheyeActive = true;
            $("#alert-info span").html("Move the cursor over the area you want to check. If you click somewhere on the graph, the zoom will stop moving along with your cursor.");
            $("#alert-info").collapse("show");
        }
    });

    $("#closerCheckbox").click(function () {
        if (closerRelatedNodes) {
            closerRelatedNodes = false;
        }
        else {
            closerRelatedNodes = true;
        }
    });

    $("#pathCheckbox").click(function () {
        if (pathActive) {
            pathActive = false;
        }
        else {
            pathActive = true;
            $("#alert-info span").html("Select two nodes, the first one being the origin and the second being the destination. Constel Analytics will try to find a path between the two nodes.");
            $("#alert-info").collapse("show");
        }
    });

    $("#highlightCheckbox").click(function () {
        if (highlightActive) {
            highlightActive = false;
        }
        else {
            highlightActive = true;
            $("#alert-info span").html("Click a node to highlight its connections. Hold Shift + click to select more than one node.");
            $("#alert-info").collapse("show");
        }
    });

    generateForceGraph(data, "#chartForceDirectedDiagram1");


    function generateForceGraph(data, divForce) {
        var
                width = $(divForce).width() - 10,
                height = $(divForce).height() - 10,
                svgForce = d3.select(divForce).append("svg:svg")
                        .attr("width", width)
                        .attr("height", height)
                        .attr("style", "background-color:black");

        var n = data.nodes.length,
                faded = false,
                fadeArray = [],
                color = d3.scale.category20(),
                c = (typeof window['force'] != "undefined") ? window['force']['charge']() : -Math.round(311 / Math.sqrt(n));
        var largest = 0;
        var smallest = 100000000;
        var totalVisits = 0;
        data.nodes.forEach(function (d) {
            if (d.value > largest) {
                largest = d.value;
            }
            if (d.value < smallest) {
                smallest = d.value;
            }
            totalVisits += d.value;
        });

        var mostIntense = 0;
        var lessIntense = 10000000000;
        var totalConnections = 0;
        data.links.forEach(function (d) {
            if (parseInt(d.value) > mostIntense) {
                mostIntense = parseInt(d.value);
            }
            if (parseInt(d.value) < lessIntense) {
                lessIntense = parseInt(d.value);
            }
            totalConnections += parseInt(d.value);
        });

        $("#totalPages").html(n);
        $("#totalVisits").html(totalVisits);
        $("#totalConnections").html(totalConnections);
        $("#zoomInfo").html(Math.abs(c));
        $("#zoomSlider").slider({
            value: -c
        });
        $("#weightSlider").slider({
            max: Math.log(largest),
            step: Math.log(largest) / 50,
            slide: function (event, ui) {
                $("#weightInfo").html(ui.value);
                hide(ui.value);
            }
        });


        // Preparing bezier curves
        var nodes = data.nodes.slice();
        var links = [];
        var bilinks = [];

        data.links.forEach(function (link) {
            var s = nodes[link.source],
                    t = nodes[link.target],
                    i = {},
                    v = link.value

            nodes.push(i);
            links.push({source: s, target: i, value: v}, {source: i, target: t, value: v});
            bilinks.push({source: s, intermediate: i, target: t, value: v});
        });

        var force = self.force = d3.layout.force()
                .charge(c)
                .linkDistance(function (o) {
                    diviser = 1 + o.value / mostIntense;
                    return 10 / diviser;
                })
                .linkStrength(1)
                .gravity(0.1)
                .size([width, height])
                .on("tick", tick)
                .nodes(nodes)
                .links(links)
                .start();

        var linkedByIndex = {};
        bilinks.forEach(function (d) {
            linkedByIndex[d.source.index + "," + d.target.index] = d.value;
        });

        var link = svgForce.selectAll(".link")
                .data(bilinks)
                .enter().append("svg:path")
                .attr("class", "link")
                .attr("fill", "none")
                .attr("d", function (d) {
                    return "M" + d.source.x + "," + d.source.y
                            + "S" + d.intermediate.x + "," + d.intermediate.y
                            + " " + d.target.x + "," + d.target.y;
                })
                .style("stroke-width", 2)
                .style("stroke", "rgb(255, 255, 255)")
                .style("stroke-opacity", function (d) {
                    return 0.1 + (d.value / (mostIntense - lessIntense)) * 0.7;
                });

        var node = svgForce.selectAll(".node")
                .data(data.nodes)
                .enter().append("svg:circle")
                .attr("class", "node")
                .attr("cx", function (d) {
                    return d.x;
                })
                .attr("cy", function (d) {
                    return d.y;
                })
                .attr("r", function (d) {
                    return 2 + (Math.log(d.value) / Math.log(largest)) * 10;
                })
                .style("stroke", function (d, i) {
                    return "rgb(255, 255, 255)";
                })
                .style("stroke-opacity", function (d) {
                    return Math.sqrt(d.weight) / 3; // paramètres à mettre en en-tête
                })
                .style("fill", function (d) {
                    return color(d.group);
                })
                .on("mouseover", function (d) {

                    var uri = 0;
                    var uriList = '';
                    d.uri.forEach(function (u) {
                                uriList += '<li><a href="http://{{ siteName }}' + u + '">' + u + '</a></li>';
                                uri++;
                            }
                    );

                    var connectionsList = '';
                    node.each(function (e) {
                        var targetValue = isTarget(d, e);
                        if (targetValue) {
                            connectionsList += '<li> => ' + e.name + ' <span class="badge">' + targetValue + '</span></li>';
                        }

                        var sourceValue = isTarget(e, d);
                        if (sourceValue) {
                            connectionsList += '<li> <= ' + e.name + ' <span class="badge">' + sourceValue + '</span></li>';
                        }
                    });

                    $("#pageTitle").html(d.name);
                    $("#pageURLS").html(uri);
                    $("#pageViews").html(d.value);
                    $("#pageConnections").html(d.weight);
                    $("#pageURLSList").html(uriList);
                    $("#pageConnectionsList").html(connectionsList);

                    d3.select(this).style("fill", "white");
                    d3.selectAll("svg").selectAll(".node").style("fill", function (e) {
                        if (e.name == d.name) {
                            return "white";
                        }
                        else {
                            return color(e.group);
                        }
                    });
                })
                .on("mousedown", function (d) {
                    if (pathActive) {
                        if (pathArray['start'] == '') {
                            pathArray['start'] = d;
                        }
                        else if (pathArray['end'] == '') {
                            pathArray['end'] = d;
                            findPath(pathArray);
                            pathArray = [];
                            pathArray['start'] = '';
                            pathArray['end'] = '';
                            pathActive = false;
                            $("#pathCheckbox").removeClass("active");

                        }
                    }
                    else {
                        if (highlightActive) {
                            if (d3.event.shiftKey) {
                                fade(0.1, d);
                            }
                            else if (faded || pathed) restore();
                            else fade(0.1, d);
                        }
                    }
                })
                .on("mouseout", function (d) {
                    d3.selectAll("svg").selectAll(".node").style("fill", function (e) {
                        return color(e.group);
                    })
                });


        var fisheye = d3.fisheye.circular()
                .focus([360, 90])
                .radius(150)
                .distortion(8);

        function isConnected(a, b) {
            var source,
                    target;

            if (linkedByIndex[a.index + "," + b.index])
                source = linkedByIndex[a.index + "," + b.index];
            if (linkedByIndex[b.index + "," + a.index])
                target = linkedByIndex[b.index + "," + a.index];

            if (!source && !target)
                return false;
            if (!source)
                return target;
            if (!target)
                return source;
            if (source < target)
                return target;
            else return source;
        }

        function isTarget(source, target) {
            if (linkedByIndex[source.index + "," + target.index])
                return linkedByIndex[source.index + "," + target.index];
            else return false;
        }

        function isArrayConnected(a) {
            var connected = false;
            fadeArray.forEach(function (b) {
                if (linkedByIndex[a.index + "," + b.index] || linkedByIndex[b.index + "," + a.index] || a.index == b.index)
                    connected = true;
            });
            return connected
        }

        function fade(opacity, d) {
            var index = fadeArray.indexOf(d);
            if (index == -1)
                fadeArray.push(d);
            else fadeArray.splice(index, 1);

            var selectedPages = '';
            fadeArray.forEach(function (d) {
                selectedPages += '<li class="list-group-item">' + d.name;
                numConnections = 0;
                numPages = ''
                node.each(function (e) {
                    if (isConnected(d, e)) {
                        numPages += '<li>' + e.name + '</li>';
                        numConnections++;
                    }
                });
                selectedPages += '<span class="badge">' + numConnections + '</span><ul class="nodo">' + numPages + '</ul></li>';
            });

            $("#selectedPages").html(selectedPages);
            $("#selectedPagesButton").removeAttr("disabled");

            node.style("stroke-opacity", function (o) {
                return isArrayConnected(o) ? 1 : opacity;
            })
                    .style("fill-opacity", function (o) {
                        return isArrayConnected(o) ? 1 : opacity;
                    });

            link.style("stroke-opacity", function (o) {
                var op = opacity;
                fadeArray.forEach(function (d) {
                    if (o.source.index == d.index || o.target.index == d.index)
                        op = 1;
                });
                return op;
            });
            faded = true;
        }

        function restore() {
            node.style("stroke", function (d, i) {
                return "rgb(255, 255, 255)";
            })
                    .style("stroke-opacity", function (d) {
                        return Math.sqrt(d.value) / 6
                    })
                    .style("fill-opacity", 1)
                    .style("stroke-width", 1);

            link.style("stroke-opacity", function (d) {
                return 0.1 + (d.value / (mostIntense - lessIntense)) * 0.7;
            })
                    .style("stroke", "white");

            $("#selectedPages").html('<li class="list-group-item">--</li>')
            faded = false;
            pathed = false;
            fadeArray = [];
        }

        function rollDownPath(lastNode, finalArray) {
            finalArray[0].push(lastNode[0]);
            if (lastNode[2]) {
                finalArray[1].push([lastNode[2][0].name, lastNode[0].name]);
                return rollDownPath(lastNode[2], finalArray);
            }
            else {
                return finalArray;
            }
        }

        function hungryPath(end, border, processed, bestPath) {
            var bestWeightOfTheRound = 0;
            var bestOfTheRound = '';

            node.each(function (d) {
                index = d.name;
                if (!processed[index]) {
                    for (var key in border) {
                        var connectionValue = isTarget(border[key][0], d)
                        if (connectionValue) {
                            linkWeight = connectionValue / border[key][0].value * border[key][1];
                            if (linkWeight > bestWeightOfTheRound) {
                                bestWeightOfTheRound = linkWeight;
                                bestOfTheRound = [d, bestWeightOfTheRound, border[key]];
                            }
                        }
                    }
                }
            });
            if (!bestOfTheRound) {
                return false;
            }
            else {
                // Add the new winner to the lists
                bestIndex = bestOfTheRound[0].name;
                border[bestIndex] = [bestOfTheRound[0], linkWeight, bestOfTheRound[2]];
                processed[bestIndex] = [bestOfTheRound[0], linkWeight, bestOfTheRound[2]];

                // Remove previous border node if not connected to any unprocessed node anymore
                var isBorderStillConnected = false;
                node.each(function (d) {
                    if (processed.indexOf(d) == -1) {
                        var connected = isConnected(d, bestOfTheRound[1]);
                        if (connected) {
                            isBorderStillConnected = true;
                        }
                    }
                })
                if (!isBorderStillConnected) {
                    border.splice(bestOfTheRound[1], 1);
                }
            }
            if (bestOfTheRound[0] == end) {
                var bestPath = [
                    [],
                    []
                ];
                bestPath = rollDownPath(bestOfTheRound, bestPath);
                return bestPath;
            }
            else return hungryPath(end, border, processed, bestPath);
        }

        function hide(threshold) {
            hideArray = [];
            node.each(function (d) {
                if (Math.log(d.value) < threshold) {
                    hideArray.push(d);
                }
            });

            node.style("fill-opacity", function (d) {
                if ($.inArray(d, hideArray) != -1) {
                    return 0;
                }
                else return 1;
            })
                    .style("stroke-opacity", function (d) {
                        if ($.inArray(d, hideArray) != -1) {
                            return 0;
                        }
                        else  return Math.sqrt(d.weight) / 3;
                    });

            link.style("stroke-opacity", function (d) {
                if ($.inArray(d.source, hideArray) != -1 || $.inArray(d.target, hideArray) != -1) {
                    return 0;
                }
                else return 0.1 + (d.value / (mostIntense - lessIntense)) * 0.7;
            });
        }

        function tick(e) {
            var percent = 1 / e.alpha;
            $("#loadingGraph div").attr("style", "width: " + percent + "%");

            if (closerRelatedNodes) {
                node.each(function (o) {
                    node.each(function (i) {
                        linkValue = isTarget(o, i);
                        if (linkValue) {
                            yMove = (o.y - i.y) * (linkValue / mostIntense) * e.alpha / 1.5;
                            xMove = (o.x - i.x) * (linkValue / mostIntense) * e.alpha / 1.5;

                            o.y -= yMove;
                            o.x -= xMove;
                        }
                    });
                });
            }

            if (e.alpha < 0.01) {
                $("#loadingGraph").removeClass("active");

                if (node) {
                    $("#toolboxInfo").html("");
                    node
                            .transition()
                            .duration(1000)
                            .attr("cx", function (d) {
                                return d.x;
                            })
                            .attr("cy", function (d) {
                                return d.y;
                            })

                    link
                            .transition()
                            .duration(1000)
                            .attr("d", function (d) {
                                return "M" + d.source.x + "," + d.source.y
                                        + "S" + d.intermediate.x + "," + d.intermediate.y
                                        + " " + d.target.x + "," + d.target.y;
                            })
                    force.stop()
                }
            }
            else {
                $("#loadingGraph").addClass("active");
            }
        }

        function findPath(path) {
            // Adding the different paths
            var startIndex = path['start'].name;
            var hungry = [];
            hungry['border'] = [];
            hungry['processed'] = [];
            hungry['bestPath'] = [];

            hungry['border'][startIndex] = [path['start'], 1, null];
            hungry['processed'][startIndex] = [1, null];

            bestPath = hungryPath(
                    path['end'],
                    hungry['border'],
                    hungry['processed'],
                    hungry['bestPath']
            );

            if (bestPath) {
                var path = '';
                bestPath[0].forEach(function (d) {
                    path += '<li class="list-group-item">' + d.name + '</li>'
                });
                $("#pathInfo").html(path);

                node
                        .style("stroke", function (d) {
                            var color = '';
                            bestPath[0].forEach(function (e) {
                                if (d.name == e.name) {
                                    color = "purple";
                                }
                            });
                            return color;
                        })
                        .style("stroke-opacity", function (d) {
                            var opacity = '';
                            bestPath[0].forEach(function (e) {
                                if (d.name == e.name) {
                                    opacity = 1;
                                }
                            });
                            return opacity;
                        })
                        .style("stroke-width", function (d) {
                            var width = 0;
                            bestPath[0].forEach(function (e) {
                                if (d.name == e.name) {
                                    width = 3;
                                }
                            });
                            return width;
                        })

                link
                        .style("stroke", function (d) {
                            var color = '';
                            bestPath[1].forEach(function (e) {

                                if (d.source.name == e[0] && d.target.name == e[1])
                                    color = "purple"
                            });
                            return color;
                        })
                        .style("stroke-opacity", function (d) {
                            var opacity = '';
                            bestPath[1].forEach(function (e) {
                                if (d.source.name == e[0] && d.target.name == e[1])
                                    opacity = 1
                            });
                            return opacity;
                        })
            }
        }

        svgForce.on("mousedown", function () {
            if (fisheyeActive) {
                fisheyeActive = false;
                $("#fisheyeCheckbox").removeClass("active");
            }
        });

        svgForce.on("mousemove", function () {
            if (fisheyeActive) {
                fisheye.focus(d3.mouse(this));

                node.each(function (d) {
                    d.fisheye = fisheye(d);
                })
                        .attr("cx", function (d) {
                            return d.fisheye.x;
                        })
                        .attr("cy", function (d) {
                            return d.fisheye.y;
                        })

                link.attr("d", function (d) {
                    return "M" + d.source.fisheye.x + "," + d.source.fisheye.y
                            + "S" + d.intermediate.x + "," + d.intermediate.y
                            + " " + d.target.fisheye.x + "," + d.target.fisheye.y;
                });
            }
        });

        $("#redraw").click(function () {
            window['force']['charge'](-$("#zoomInfo").html());
            force.start();
        });

        $("#search").keyup(function () {
            if ($("#search").val() != "")
                node.style("stroke-width", function (o) {
                    var isInUri = false;
                    o.uri.forEach(function (d) {
                        if (d.indexOf($("#search").val()) != -1) {
                            isInUri = true;
                        }
                    })
                    if (!isInUri && o.name.indexOf($("#search").val()) == -1) {
                        return 1;
                    }
                    else {
                        return 10;
                    }
                })
                        .style("stroke-opacity", function (o) {
                            var isInUri = false;
                            o.uri.forEach(function (d) {
                                if (d.indexOf($("#search").val()) != -1) {
                                    isInUri = true;
                                }
                            })
                            if (!isInUri && o.name.indexOf($("#search").val()) == -1) {
                                return Math.sqrt(o.value) / 6
                            }
                            else {
                                return 1;
                            }
                        })
                        .style("stroke", function (o) {
                            var isInUri = false;
                            o.uri.forEach(function (d) {
                                if (d.indexOf($("#search").val()) != -1) {
                                    isInUri = true;
                                }
                            })
                            if (!isInUri && o.name.indexOf($("#search").val()) == -1) {
                                return "white";
                            }
                            else {
                                return "red";
                            }
                        });
            else node.style("stroke", "white").style("stroke-width", 1).style("stroke-opacity", function (o) {
                return Math.sqrt(o.value) / 6
            });
        });
    }

    function formatDate(date, modifier) {
        var day = 86400000, // milliseconds
                dateInMilliseconds = Date.parse(date) - day * modifier,
                dateObj = new Date(dateInMilliseconds),
                year = dateObj.getFullYear(),
                month = dateObj.getMonth() + 1 < 10 ? '0' + (dateObj.getMonth() + 1) : '' + (dateObj.getMonth() + 1),
                day = dateObj.getDate() < 10 ? '0' + dateObj.getDate() : '' + dateObj.getDate(),
                formattedDate = year + "-" + month + "-" + day;

        return formattedDate;
    }

    $("#timespanButton").click(function () {

        // Clean up the former Graph(s)
        $("#chartForceDirectedDiagram svg").remove();
        $("#chartForceDirectedDiagram1").removeClass("col-md-12");
        $("#chartForceDirectedDiagram1").addClass("col-md-6");
        $("#chartForceDirectedDiagram1").attr("style", "height:400px");

        // Generate new Graphs

        var lapse = parseInt($("#timespanSelector").val());
        $.ajax({
            type: "GET",
            url: "{{ path('vtwa_ajax') }}",
            dataType: "json",
            data: {
                segment: "{{ currentSegment }}",
                metric: "{{ currentMetric }}",
                start: formatDate("{{ currentStart }}", 3 * lapse),
                end: formatDate("{{ currentEnd }}", 3 * lapse),
                maxPages: "{{ currentMaxPages }}",
                maxInteractions: "{{ currentMaxInteractions }}",
                filter: "{{ currentFilter }}"
            },
            timeout: 30000,
            async: false
        })
                .done(function (ajaxData) {
                    data1 = ajaxData;
                    generateForceGraph(data1, "#chartForceDirectedDiagram1");
                });
        $.ajax({
            type: "GET",
            url: "{{ path('vtwa_ajax') }}",
            dataType: "json",
            data: {
                segment: "{{ currentSegment }}",
                metric: "{{ currentMetric }}",
                start: formatDate("{{ currentStart }}", 2 * lapse),
                end: formatDate("{{ currentEnd }}", 2 * lapse),
                maxPages: "{{ currentMaxPages }}",
                maxInteractions: "{{ currentMaxInteractions }}",
                filter: "{{ currentFilter }}"
            },
            timeout: 30000,
            async: false
        })
                .success(function (ajaxData) {
                    data2 = ajaxData;
                    generateForceGraph(data2, "#chartForceDirectedDiagram2");
                });
        $.ajax({
            type: "GET",
            url: "{{ path('vtwa_ajax') }}",
            dataType: "json",
            data: {
                segment: "{{ currentSegment }}",
                metric: "{{ currentMetric }}",
                start: formatDate("{{ currentStart }}", lapse),
                end: formatDate("{{ currentEnd }}", lapse),
                maxPages: "{{ currentMaxPages }}",
                maxInteractions: "{{ currentMaxInteractions }}",
                filter: "{{ currentFilter }}"
            },
            timeout: 30000,
            async: false
        })
                .success(function (ajaxData) {
                    data3 = ajaxData;
                    generateForceGraph(data3, "#chartForceDirectedDiagram3");
                });

        data4 = {{ json|raw }};
        generateForceGraph(data4, "#chartForceDirectedDiagram4");
    });

    function generateBarChart(filters, lessFrequentFilter, mostFrequentFilter) {
        var selectedFilters = [],
                width = $("#barGraph").width(),
                height = $("#barGraph").height(),
                barWidth = width / 50,
                barMaxHeight = height - 150,
                barHeight = d3.scale.log().domain([lessFrequentFilter[1], mostFrequentFilter[1]]).range([1, barMaxHeight]),
                barChart = d3.select("#barGraph").append("svg:svg")
                        .attr("width", width)
                        .attr("height", height)
                        .attr("style", "background-color:black");

        var barGroups = barChart.selectAll(".bar")
                .data(filters).enter()
                .append("svg:g")
                .attr("transform", function (d, i) {
                    return "translate(" + (i * barWidth) + ",15)"
                });

        var bars = barGroups.append("svg:rect")
                .attr("width", barWidth - 5)
                .attr("y", 110)
                .attr("x", 2.5)
                .attr("height", function (d) {
                    return Math.round(barHeight(d[1])) + "px"
                })
                .attr("fill", "orange")
                .on("mousedown", function (d) {
                    if (selectedFilters.indexOf(d) == -1) {
                        selectedFilters.push(d);
                        d3.select(this).attr("fill", "white");
                    }
                    else {
                        selectedFilters.splice(selectedFilters.indexOf(d), 1);
                        d3.select(this).attr("fill", "orange");
                    }
                });

        var barTexts = barGroups.append("svg:text")
                .text(function (d) {
                    return d[0]
                })
                .attr("y", -barWidth / 2)
                .attr("fill", "white")
                .attr("transform", "rotate(90)");

        $("#filterButton").click(function () {
            $("#chartForceDirectedDiagram svg").remove();
            var parsedFilters = '';
            var dummyCounter = 0;

            selectedFilters.forEach(function (d) {
                if (dummyCounter++ > 0)
                    parsedFilters += ",";
                parsedFilters += "ga:{{ selectedFilter }}==" + d[0];
            });

            $.ajax({
                type: "GET",
                url: "{{ path('vtwa_ajax') }}",
                dataType: "json",
                data: {
                    segment: "{{ currentSegment }}",
                    metric: "{{ currentMetric }}",
                    start: "{{ currentStart }}",
                    end: "{{ currentEnd }}",
                    maxPages: "{{ currentMaxPages }}",
                    maxInteractions: "{{ currentMaxInteractions }}",
                    filter: parsedFilters
                },
                timeout: 30000,
                async: false
            })
                    .done(function (ajaxData) {
                        dataFiltered = ajaxData;
                        generateForceGraph(dataFiltered, "#chartForceDirectedDiagram1");
                    });
        });

    }

    var filters = [];
    {% for filter in filters %}
    {% if loop.first %}
    var mostFrequentFilter = ['{{ filter.0 }}', '{{ filter.1 }}'];
    {% elseif loop.last %}
    var lessFrequentFilter = ['{{ filter.0 }}', '{{ filter.1 }}'];
    {% endif %}

    filters.push(['{{ filter.0 }}', '{{ filter.1 }}']);
    {% endfor %}

    generateBarChart(filters, lessFrequentFilter, mostFrequentFilter);

    </script>
{% endblock %}