{% extends "VTWABundle::layout.html.twig" %}

{% block title %}
    Visits typology
{% endblock %}

{% block nav %}
    <li><a href="{{ path('vtwa_homepage') }}"><span class="glyphicon glyphicon-home"></span></a></li>
    <li><a href="{{ path('vtwa_interactions') }}">Interactions between pages</a></li>
    <li class="active"><a href="{{path('vtwa_visits') }} }}">Visits typology</a></li>
    <li><a href="http://www.google.com/analytics">Access Google Analytics</a></li>
{% endblock %}

{% block secNav %}
    <div class="row panel panel-default">
        <form method="get" action="#">
            <div class="col-xs-3">
                <select name="segment" class="form-control">
                    {% for segment in segments %}
                        <option value="{{ segment.id }}" {% if segment.id == currentSegment %} selected="selected" {% endif %}>{{ segment.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="input-group col-xs-6">
                <span class="input-group-addon">From</span><input id="datepicker" class="form-control datepicker"
                                                                  name="start" type="date"
                                                                  placeholder="Start : 2014-01-01"
                                                                  value="{{ currentStart }}"/>
                <span class="input-group-addon">To</span><input class="form-control datepicker" name="end" type="date"
                                                                placeholder="End : 2014-01-22"
                                                                value="{{ currentEnd }}"/>
                <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
            </div>
            <div class="col-xs-3" style="text-align:right">
                <button class="btn btn-primary" type="submit">Analyze</button>
            </div>
        </form>
    </div>
{% endblock %}

{% block body %}
    {{ json }}
{% endblock %}