<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset={{ _charset }}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{% block title %}{% endblock %} :: Constel Analytics</title>
		<link href="{{ asset('bundles/vtwa/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" media="all" />
        <link href="{{ asset('bundles/vtwa/css/bootstrap-theme.min.css') }}" rel="stylesheet" type="text/css" media="all" />
        <link href="{{ asset('bundles/vtwa/css/vtwa.css') }}" rel="stylesheet" type="text/css" media="all" />
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
        <script type="text/javascript" src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
        <script type="text/javascript" src="{{ asset('bundles/vtwa/js/d3.v3.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/vtwa/js/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/vtwa/js/sankey.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/vtwa/js/fisheye.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/vtwa/js/dijk.js') }}"></script>
        <link href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css" media="all" />
        {% block head %}{% endblock %}
	</head>
	<body>
        <nav class="navbar navbar-inverse" role="navigation">
            <header class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="">Constel Analytics</a>
            </header>

            <div class="collapse navbar-collapse" id="main-navbar-collapse">
                <ul class="nav navbar-nav">
                    {% block nav %}{% endblock %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% block menuright %}{% endblock %}
                    <li><a href="#"><span class="glyphicon glyphicon-wrench"></span></a></li>
                </ul>
            </div>
        </nav>
		<div id="content" class="container">
        <nav>
            {% block secNav %}{% endblock %}
        </nav>
            {% block body %}{% endblock %}
		</div>
	</body>
</html>
