body {
    background-color: rgb(245,245,255);
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

#settings {
    display: none;
    position: fixed;
    left: 180px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgb(255,200,170);
    -moz-transition:width 2s, height 2s, background-color 2s, -moz-transform 2s;
    -webkit-transition:width 2s, height 2s, background-color 2s, -webkit-transform 2s;
    -o-transition:width 2s, height 2s, background-color 2s, -o-transform 2s;
    transition:width 2s, height 2s, background-color 2s, transform 2s;
}

#settings:target {
    display: block;
}

#sidebar {
    float: left;
    //box-shadow: 3px 0px 1px 3px rgb(175,170,225);
    margin-left: -180px;
    left: 180px;
    width: 180px;
    position: fixed;
    top: 0px;
    height: 100%;
    border-radius: 0px;
    border: medium none;
    overflow: hidden;
    background-color: rgb(255,255,170);
}

#chartSankey {
    height: 500px;
    display: none;
}

#chartSankey:target {
    display: block;
}

.node rect {
    cursor: move;
    fill-opacity: .9;
    shape-rendering: crispEdges;
}

.node text {
    pointer-events: none;
    text-shadow: 0 1px 0 #fff;
}

.node:hover {
	cursor: pointer;
}

.link {
    fill: none;
    stroke: #000;
    stroke-opacity: .2;
}

.link:hover {
    stroke-opacity: .5;
}

.alert {
    width: 500px;
    position:fixed;
    top:10px;
    left: 50%;
    margin-left: -250px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding: 0px;
}

.nodo {
    list-style-type: none;
    padding:0px;
    maring: 0px;
    font-size: x-small;
}

.nodo .badge {
    padding: 1px 5px;
}